In [3]:
import pandas as pd
import numpy as np
import random
import datetime
from string import ascii_lowercase

In [18]:
number_of_rows = 10000
site_ids = [1,2,3,4,5]

In [5]:
#idvisit, 1734 unique
def gen_idvisit(number_of_rows):
    '''generate a list of numbers that gets sequentially larger, but only jumps
    to the next value after a random number of entries at the current value'''
    length = number_of_rows
    current = 1
    the_list = []
    for x in range(length):
        the_list.append(current)
        random_number = random.randint(1,100)
        if random_number < 3:
            current += 1
    return the_list

In [6]:
#server_time
def gen_server_time(number_of_rows):
    '''generate a list of times that increase randomly. Simulates someone randomly clicking
    around on a website'''
    now = datetime.datetime.now()
    year = now.year
    month = now.month
    day = now.day
    date = now.date
    hour = now.hour
    minute = now.minute
    second = now.second
    date_time = datetime.datetime(year, month, day, hour, minute, second)
    #print(type(start_date_time))
    
    date_list = []
    length = number_of_rows
    for x in range(length):
        #print(date_time)
        date_list.append(date_time)
        date_time = date_time + datetime.timedelta(hours=random.randint(24,48))
    
    return date_list

In [7]:
def gen_idvisitor(number_of_rows):
    length_of_id = 16
    final_list = []
    for x in range(number_of_rows):
        string = ''.join(random.choice('abcdefghijklmnopqrstuvwxyz1234567890') for i in range(length_of_id))
        #print(string)
        final_list.append(string)
    return final_list

In [8]:
#idaction_name, links to action table 1 - 191
def gen_idaction_name(number_of_rows):
    length = number_of_rows
    list_ = []
    actions = [4,1,143,145, 134, 59, 36, 103, 46, 19, 91, 8, 133, 123, 106, 54, 29, 42,
               102, 70, 92, 100, 119, 129, 130, 64, 31, 44, 120, 112, 126, 60, 22, 25, 74,
               16, 62, 111, 72, 40, 49]
    
    proba = [0.2237, 0.1508, 0.0567, 0.0567, 0.0405, 0.0385, 0.0385, 0.0334, 0.0263, 0.0253, 0.0243,
             0.0243, 0.0223, 0.0192, 0.0182, 0.0152, 0.0152, 0.0142, 0.0111, 0.0111, 0.0101, 0.0101, 
             0.0091, 0.0091 , 0.0091, 0.0091, 0.0091, 0.0071, 0.0071, 0.0071, 0.0061, 0.0051, 0.0051,
             0.0051, 0.0051, 0.0040, 0.0040, 0.0040, 0.0040, 0.0040,0.001000000000000223]
    for x in range(length):
        random_int = np.random.choice(actions,p=proba)
        #print(random_int)
        #random_int = random.randint(1,191)
        #print(random_int)
        list_.append(random_int)
    return list_
gen_idaction_name(20)

[31,
 46,
 143,
 126,
 102,
 74,
 103,
 145,
 4,
 4,
 4,
 54,
 4,
 129,
 8,
 36,
 145,
 130,
 1,
 4]

In [9]:
idlink_va = [x for x in range(number_of_rows)]
idsite = [random.choice(site_ids) for x in range(number_of_rows)]
idvisitor = gen_idvisitor(number_of_rows)
idvisit = gen_idvisit(number_of_rows)
server_time = gen_server_time(number_of_rows)
idaction_name = gen_idaction_name(number_of_rows)

category = []
action = []
name = []

time_spent_ref_action = []
idaction_url_ref = []
idaction_url = []
idaction_name_ref = []

In [10]:
#test length
print(len(idlink_va)) 
print(len(idsite)) 
print(len(idvisitor))
print(len(idvisit)) 
print(len(server_time))
print(len(idaction_name))

10000
10000
10000
10000
10000
10000

In [11]:
data = {'idlink_va': idlink_va, #count from 1 - data_length
        'idsite': idsite, #unique_game_number, copied from visit action's associated in order to avoid
        'idvisitor': idvisitor, #unique_user_id, copied from visit action's associated in order to avoid
        'idvisit': idvisit, #unique id for each visit/session, use to join with log_visit
        
        'server_time': server_time, #datetiem action was tracked
        
        'idaction_name': idaction_name, #id of the PAGE TITLE ACTION TYPE
        
        
        #'time_spent_ref_action': time_spent_ref_action, #the amount of time spend doing the previous action
        #'idaction_url_ref': idaction_url_ref,
        #'idaction_url': idaction_url,#id of the URL ACTION TYPE
        #'idaction_name_ref': idaction_name_ref, 
        
       
        #'custom_float': 0
       }

In [12]:
df = pd.DataFrame(data)

In [13]:
df

,idlink_va,idsite,idvisitor,idvisit,server_time,idaction_name
0,0,4,zfl4q9xouz8fb5ij,1,2018-07-31 14:22:52,91
1,1,3,qtzulnl5i4ea566a,1,2018-08-02 03:22:52,4
2,2,1,wpybb6hz2ar46ovj,1,2018-08-04 00:22:52,91
3,3,1,04t61a3z7260bod2,1,2018-08-05 09:22:52,103
4,4,1,5ox7ohy2x29wiq7r,1,2018-08-07 09:22:52,36
5,5,2,ml26hs3181uoe07u,1,2018-08-09 07:22:52,1
6,6,1,wsbuqy47k7hohqjl,1,2018-08-10 19:22:52,4
7,7,2,vr3ywvey8suxdhrd,1,2018-08-12 03:22:52,54
8,8,2,oj4sw2vd1k9m7r54,1,2018-08-13 16:22:52,4
9,9,3,uyed8mhiuo9wkcs5,1,2018-08-15 05:22:52,36
10,10,4,harmapn1t0tyvt4u,1,2018-08-16 18:22:52,59
11,11,1,8w12nuo4cd5chya4,1,2018-08-18 11:22:52,44
12,12,1,txpesfpi8dvyc44w,1,2018-08-20 00:22:52,100
13,13,1,p7s5f7bjp9oyqr0a,1,2018-08-21 10:22:52,59
14,14,5,5wno8dj5wv6q7nk4,1,2018-08-22 21:22:52,4
15,15,2,tg4wzleh147qczgs,1,2018-08-24 17:22:52,134
16,16,2,1qae569a04hah7d1,1,2018-08-25 18:22:52,143
17,17,1,jtd30f6mkhwcyoby,1,2018-08-27 09:22:52,36
18,18,5,42n4skncy0sxe5ok,1,2018-08-28 12:22:52,19
19,19,2,uedskv3l96zwqnnr,1,2018-08-29 15:22:52,64
20,20,3,o5h5nrotr39jvfl6,1,2018-08-30 15:22:52,29
21,21,5,qa32v3lwho5oyt00,1,2018-09-01 11:22:52,4
22,22,4,gykk3etl0ybhrqi0,1,2018-09-03 07:22:52,42
23,23,4,42pfi55np8vm1bsf,1,2018-09-05 06:22:52,143
24,24,4,rrboix3i53h2fnt0,1,2018-09-06 23:22:52,145
25,25,1,bfznw36d5kjbv1ru,1,2018-09-08 00:22:52,1
26,26,5,vi74i1dvmbmpajus,1,2018-09-09 14:22:52,1
27,27,4,u2td2hizt20k6jag,1,2018-09-11 08:22:52,103
28,28,5,kp6ntjivmtk48ltj,1,2018-09-12 09:22:52,4
29,29,2,8wi5xfblnbscznv6,1,2018-09-13 09:22:52,4
...,...,...,...,...,...,...
9970,9970,5,sr3hk7lv6dmtjdak,235,2059-06-03 06:22:52,145
9971,9971,5,qgalh5xrpv78nfxg,235,2059-06-04 10:22:52,100
9972,9972,1,2yy86scczujytxcy,235,2059-06-05 22:22:52,46
9973,9973,3,zpkskp4il1qw2ydf,235,2059-06-06 22:22:52,70
9974,9974,4,cq78gtfhh2mmbkwn,235,2059-06-08 14:22:52,16
9975,9975,4,hh3flqm8wzs5d9qq,235,2059-06-10 08:22:52,91
9976,9976,5,wv5y1jnfwcixkxac,235,2059-06-11 22:22:52,145
9977,9977,4,9dp70wxtdy7b850a,235,2059-06-13 10:22:52,4
9978,9978,5,sm2u09fh7l94oqi9,235,2059-06-14 21:22:52,44
9979,9979,3,2vm0s93qqog0klyf,235,2059-06-16 14:22:52,1
9980,9980,3,pcyh0iqddlqg2qte,235,2059-06-18 07:22:52,129
9981,9981,3,c0dzau5d39hhi1hv,235,2059-06-19 21:22:52,143
9982,9982,4,1dht4pyxakr1ix12,235,2059-06-21 11:22:52,106
9983,9983,2,dfe83ngwkorvaks0,235,2059-06-22 17:22:52,1
9984,9984,2,xo75tok2nyo6c55h,235,2059-06-24 03:22:52,123
9985,9985,5,khh1r1rbq8730ocb,235,2059-06-26 03:22:52,126
9986,9986,4,w7rpxrzitmvawrm2,235,2059-06-27 18:22:52,4
9987,9987,3,14shij752eydiuf4,235,2059-06-29 05:22:52,145
9988,9988,3,gmbcctaxb2kezqcu,235,2059-06-30 12:22:52,4
9989,9989,5,qa2ha1sdnvz1818i,235,2059-07-01 12:22:52,145
9990,9990,3,c9yowvqd3eymj6e9,235,2059-07-03 08:22:52,91
9991,9991,2,cauag6sxgx2968cj,235,2059-07-04 22:22:52,1
9992,9992,5,ktmdk0myhf2yiurb,235,2059-07-05 22:22:52,4
9993,9993,5,xnnifq1ssymrbl9b,235,2059-07-07 02:22:52,4
9994,9994,3,hlmpqw7ph0mnlqxi,235,2059-07-08 20:22:52,1
9995,9995,2,0ao7vo7p0ef5jai7,235,2059-07-09 22:22:52,4
9996,9996,1,s2tn9n3g1cu87ky2,235,2059-07-11 03:22:52,46
9997,9997,3,07unrmmtyr6b6dtt,235,2059-07-12 09:22:52,145
9998,9998,2,w6mjp78otk7cx8bk,235,2059-07-14 06:22:52,4
9999,9999,2,w4ux88c0qu61zmh8,235,2059-07-15 17:22:52,1

In [ ]:
#options for generating category, action, name(group/practiceSet, and value
games = ['match', 'matchpro', 'pick']
actions = ['complete', 'correct', 'incorrect']
groups = ['Academy', 'PHL', 'A80', 'A90']
practice_sets = ['CallSign', 'LaGuardia', 'Kennedy', 'Islip', 'Newark', 'Liberty', 'AircraftType']

#3 letter id: call sign
three_letter_dic = {'AAL': 'American', 'AAN':'Amstel', 'AAR': 'ASIANA', 'AAY': 'Allegiant', 
                    'ABX': 'Abex', 'ACA': 'Air Canada', 'AEW': 'Aerosvit', 'AFL':'Aeroflot',
                    'AFR': 'air france', 'AFX': 'airfreight express', 'AIC': 'Air india',
                    'AIJ': 'abc aerolineas', 'AJI':'Ameristar', 'ajm': 'air jamaica',
                    'AJO': 'Aero exo'}

In [77]:
#row = axis 1
#col = axis = 0
def assign_category(row):
    if row['idsite'] == 1: 
        return 'match' 
    if row['idsite'] == 2:
        return 'match pro'
    if row['idsite'] == 3:
        return 'pick'
    
#create new column in df
df['category'] = df.apply(lambda row: assign_category(row), axis=1)

In [78]:
def assign_action(row):
    return str(random.choice(actions))

df['action'] = df.apply(lambda row: assign_action(row), axis=1)

def assign_group(row):
    return str(random.choice(groups))

df['groups'] = df.apply(lambda row: assign_group(row), axis=1)

def assign_practice_set(row):
    return str(random.choice(practice_sets))

df['practice_set'] = df.apply(lambda row: assign_practice_set(row), axis=1)

def assign_value(row):
    if row['action'] == 'complete':
        return random.randint(1,99)

df['value'] = df.apply(lambda row: assign_value(row), axis=1)

In [79]:
df

,idlink_va,idsite,idvisitor,idvisit,server_time,idaction_name,category,action,groups,practice_set,value
0,0,4,zfl4q9xouz8fb5ij,1,2018-07-31 14:22:52,91,None,correct,A90,Newark,NaN
1,1,3,qtzulnl5i4ea566a,1,2018-08-02 03:22:52,4,pick,complete,Academy,AircraftType,62.0
2,2,1,wpybb6hz2ar46ovj,1,2018-08-04 00:22:52,91,match,incorrect,A80,CallSign,NaN
3,3,1,04t61a3z7260bod2,1,2018-08-05 09:22:52,103,match,incorrect,A90,Newark,NaN
4,4,1,5ox7ohy2x29wiq7r,1,2018-08-07 09:22:52,36,match,incorrect,Academy,Newark,NaN
5,5,2,ml26hs3181uoe07u,1,2018-08-09 07:22:52,1,match pro,incorrect,A80,CallSign,NaN
6,6,1,wsbuqy47k7hohqjl,1,2018-08-10 19:22:52,4,match,correct,A80,Islip,NaN
7,7,2,vr3ywvey8suxdhrd,1,2018-08-12 03:22:52,54,match pro,complete,Academy,Liberty,88.0
8,8,2,oj4sw2vd1k9m7r54,1,2018-08-13 16:22:52,4,match pro,incorrect,A90,Islip,NaN
9,9,3,uyed8mhiuo9wkcs5,1,2018-08-15 05:22:52,36,pick,incorrect,Academy,Newark,NaN
10,10,4,harmapn1t0tyvt4u,1,2018-08-16 18:22:52,59,None,incorrect,Academy,Islip,NaN
11,11,1,8w12nuo4cd5chya4,1,2018-08-18 11:22:52,44,match,correct,Academy,AircraftType,NaN
12,12,1,txpesfpi8dvyc44w,1,2018-08-20 00:22:52,100,match,correct,A80,Kennedy,NaN
13,13,1,p7s5f7bjp9oyqr0a,1,2018-08-21 10:22:52,59,match,correct,A90,CallSign,NaN
14,14,5,5wno8dj5wv6q7nk4,1,2018-08-22 21:22:52,4,None,complete,PHL,Kennedy,41.0
15,15,2,tg4wzleh147qczgs,1,2018-08-24 17:22:52,134,match pro,complete,PHL,AircraftType,3.0
16,16,2,1qae569a04hah7d1,1,2018-08-25 18:22:52,143,match pro,incorrect,Academy,CallSign,NaN
17,17,1,jtd30f6mkhwcyoby,1,2018-08-27 09:22:52,36,match,correct,A90,Newark,NaN
18,18,5,42n4skncy0sxe5ok,1,2018-08-28 12:22:52,19,None,incorrect,Academy,AircraftType,NaN
19,19,2,uedskv3l96zwqnnr,1,2018-08-29 15:22:52,64,match pro,complete,PHL,AircraftType,97.0
20,20,3,o5h5nrotr39jvfl6,1,2018-08-30 15:22:52,29,pick,correct,A90,Kennedy,NaN
21,21,5,qa32v3lwho5oyt00,1,2018-09-01 11:22:52,4,None,complete,PHL,Liberty,14.0
22,22,4,gykk3etl0ybhrqi0,1,2018-09-03 07:22:52,42,None,incorrect,Academy,Kennedy,NaN
23,23,4,42pfi55np8vm1bsf,1,2018-09-05 06:22:52,143,None,incorrect,A80,LaGuardia,NaN
24,24,4,rrboix3i53h2fnt0,1,2018-09-06 23:22:52,145,None,incorrect,A80,Kennedy,NaN
25,25,1,bfznw36d5kjbv1ru,1,2018-09-08 00:22:52,1,match,complete,PHL,LaGuardia,2.0
26,26,5,vi74i1dvmbmpajus,1,2018-09-09 14:22:52,1,None,complete,A80,Islip,51.0
27,27,4,u2td2hizt20k6jag,1,2018-09-11 08:22:52,103,None,complete,A80,Liberty,27.0
28,28,5,kp6ntjivmtk48ltj,1,2018-09-12 09:22:52,4,None,incorrect,Academy,Kennedy,NaN
29,29,2,8wi5xfblnbscznv6,1,2018-09-13 09:22:52,4,match pro,correct,Academy,AircraftType,NaN
...,...,...,...,...,...,...,...,...,...,...,...
9970,9970,5,sr3hk7lv6dmtjdak,235,2059-06-03 06:22:52,145,None,incorrect,A90,LaGuardia,NaN
9971,9971,5,qgalh5xrpv78nfxg,235,2059-06-04 10:22:52,100,None,complete,A80,Newark,30.0
9972,9972,1,2yy86scczujytxcy,235,2059-06-05 22:22:52,46,match,incorrect,A90,LaGuardia,NaN
9973,9973,3,zpkskp4il1qw2ydf,235,2059-06-06 22:22:52,70,pick,complete,Academy,LaGuardia,68.0
9974,9974,4,cq78gtfhh2mmbkwn,235,2059-06-08 14:22:52,16,None,incorrect,Academy,AircraftType,NaN
9975,9975,4,hh3flqm8wzs5d9qq,235,2059-06-10 08:22:52,91,None,complete,Academy,Newark,75.0
9976,9976,5,wv5y1jnfwcixkxac,235,2059-06-11 22:22:52,145,None,correct,PHL,CallSign,NaN
9977,9977,4,9dp70wxtdy7b850a,235,2059-06-13 10:22:52,4,None,correct,Academy,Islip,NaN
9978,9978,5,sm2u09fh7l94oqi9,235,2059-06-14 21:22:52,44,None,incorrect,A80,Kennedy,NaN
9979,9979,3,2vm0s93qqog0klyf,235,2059-06-16 14:22:52,1,pick,incorrect,Academy,CallSign,NaN
9980,9980,3,pcyh0iqddlqg2qte,235,2059-06-18 07:22:52,129,pick,correct,A80,Kennedy,NaN
9981,9981,3,c0dzau5d39hhi1hv,235,2059-06-19 21:22:52,143,pick,complete,Academy,Islip,17.0
9982,9982,4,1dht4pyxakr1ix12,235,2059-06-21 11:22:52,106,None,complete,A80,LaGuardia,50.0
9983,9983,2,dfe83ngwkorvaks0,235,2059-06-22 17:22:52,1,match pro,incorrect,A90,CallSign,NaN
9984,9984,2,xo75tok2nyo6c55h,235,2059-06-24 03:22:52,123,match pro,incorrect,A80,CallSign,NaN
9985,9985,5,khh1r1rbq8730ocb,235,2059-06-26 03:22:52,126,None,correct,A80,Islip,NaN
9986,9986,4,w7rpxrzitmvawrm2,235,2059-06-27 18:22:52,4,None,complete,A80,Newark,65.0
9987,9987,3,14shij752eydiuf4,235,2059-06-29 05:22:52,145,pick,incorrect,Academy,Islip,NaN
9988,9988,3,gmbcctaxb2kezqcu,235,2059-06-30 12:22:52,4,pick,complete,Academy,Islip,34.0
9989,9989,5,qa2ha1sdnvz1818i,235,2059-07-01 12:22:52,145,None,incorrect,Academy,Liberty,NaN
9990,9990,3,c9yowvqd3eymj6e9,235,2059-07-03 08:22:52,91,pick,incorrect,A90,Newark,NaN
9991,9991,2,cauag6sxgx2968cj,235,2059-07-04 22:22:52,1,match pro,correct,A90,LaGuardia,NaN
9992,9992,5,ktmdk0myhf2yiurb,235,2059-07-05 22:22:52,4,None,complete,A80,Islip,5.0
9993,9993,5,xnnifq1ssymrbl9b,235,2059-07-07 02:22:52,4,None,incorrect,PHL,LaGuardia,NaN
9994,9994,3,hlmpqw7ph0mnlqxi,235,2059-07-08 20:22:52,1,pick,correct,PHL,AircraftType,NaN
9995,9995,2,0ao7vo7p0ef5jai7,235,2059-07-09 22:22:52,4,match pro,correct,PHL,Islip,NaN
9996,9996,1,s2tn9n3g1cu87ky2,235,2059-07-11 03:22:52,46,match,complete,A80,Liberty,80.0
9997,9997,3,07unrmmtyr6b6dtt,235,2059-07-12 09:22:52,145,pick,correct,PHL,CallSign,NaN
9998,9998,2,w6mjp78otk7cx8bk,235,2059-07-14 06:22:52,4,match pro,correct,PHL,LaGuardia,NaN
9999,9999,2,w4ux88c0qu61zmh8,235,2059-07-15 17:22:52,1,match pro,correct,A80,CallSign,NaN

In [121]:
df_group_correct = df[df['action'] =='correct'].groupby(['category','groups','practice_set'], as_index=False).agg({'action': 'count'}).sort_values(by='action', ascending=False)

In [122]:
df_group_incorrect = df[df['action'] =='incorrect'].groupby(['category','groups','practice_set'], as_index=False).agg({'action': 'count'}).sort_values(by='action', ascending=False)

In [119]:
#df_group.index.values

In [123]:
df_group_correct.head()

     category   groups  practice_set  action
50  match pro      PHL      CallSign      36
63       pick      A90  AircraftType      36
73       pick  Academy       Kennedy      34
34  match pro      A80        Newark      33
49  match pro      PHL  AircraftType      32

In [124]:
df_group_incorrect.head()

     category   groups  practice_set  action
43  match pro  Academy      CallSign      39
70       pick  Academy  AircraftType      35
66       pick      A90       Kennedy      32
22      match      PHL      CallSign      32
21      match      PHL  AircraftType      31

In [117]:
#for idlink_va, 16135 unique
test = [x for x in range(data_length_test)]

NameError: name 'data_length_test' is not defined

In [9]:
print(test)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
#for idsite
possible = [5,6,8,9]
test_1 = [random.choice(possible) for x in range(data_length_test)]
test_1

[6, 8, 8, 8, 8, 6, 5, 5, 6, 9]

In [ ]:
#idvisitor

In [40]:
'''test for gen_idvisit to see how it '''
unique_list = []
for x in gen_idvisit():
    if x not in unique_list:
        unique_list.append(x)
unique_list

for y in unique_list:
    count_list = gen_idvisit()
    print(y, count_list.count(y))

1 14
2 24
3 48
4 85
5 195
6 8
7 119
8 45
9 112
10 28
11 24
12 23
13 108
14 70
15 4
16 5
17 46
18 111
19 73
20 8
21 12
22 54
23 14
24 135
25 37
26 39
27 82
28 32
29 36
30 103
31 77
32 49
33 27
34 28
35 81
36 48
37 15
38 18
39 32
40 44
41 9
42 20
43 15
44 46
45 10
46 4
47 140
48 88
49 93
50 1
51 60
52 40
53 22
54 18
55 26
56 38
57 31
58 50
59 15
60 16
61 20
62 7
63 139
64 15
65 1
66 90
67 35
68 43
69 14
70 67
71 49
72 7
73 28
74 56
75 27
76 7
77 52
78 46
79 8
80 18
81 32
82 25
83 13
84 7
85 185
86 8
87 135
88 13
89 55
90 53
91 36
92 1
93 46
94 29
95 54
96 14
97 4
98 6
99 31
100 42
101 8
102 91
103 30
104 14
105 24
106 44
107 55
108 185
109 68
110 64
111 27
112 61
113 21
114 12
115 35
116 31
117 57
118 43
119 63
120 9
121 11
122 48
123 100
124 56
125 9
126 16
127 64
128 42
129 33
130 2
131 35
132 46
133 1
134 1
135 110
136 64
137 57
138 45
139 72
140 175
141 62
142 11
143 25
144 82
145 28
146 32
147 50
148 16
149 68
150 22
151 27
152 12
153 54
154 4
155 40
156 12
157 60
158 16
159 147
160 6
161 52
162 118
163 9
164 2
165 50
166 30
167 4
168 36
169 45
170 198
171 247
172 64
173 18
174 34
175 47
176 30
177 51
178 28
179 75
180 50
181 20
182 85
183 6
184 0
185 29
186 9
187 0
188 94
189 30
190 24
191 0
192 34
193 51
194 66
195 32
196 30
197 35